{% load static i18n %}
{# Badge Gradia (design system). #}
{# Usage : {% include "common/badge.html" with badge_text=_('Étudiant') badge_variant="brand" %} #}
{# Variantes : brand, turquoise, purple, indigo, emerald, amber, slate. #}
{# Option : badge_icon="check" (icônes SVG inline).                       #}
<span class="gradia-badge gradia-badge--{% firstof badge_variant 'slate' %}">
  {% if badge_icon == "check" %}
    <svg class="h-3.5 w-3.5" fill="currentcolor" viewBox="0 0 20 20" aria-hidden="true"><path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 7.5a.75.75 0 01-1.123.08l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-8.047a.75.75 0 011.056-.098z" clip-rule="evenodd"/></svg>
  {% elif badge_icon == "warning" %}
    <svg class="h-3.5 w-3.5" fill="currentcolor" viewBox="0 0 20 20" aria-hidden="true"><path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.515 2.625H3.72c-1.344 0-2.188-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 00-.75.75v3.5a.75.75 0 001.5 0v-3.5A.75.75 0 0010 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/></svg>
  {% endif %}
  {{ badge_text }}
</span>